body{
    background-color: bisque;
}

:root {
    --color-sunny: #F67B21;
    --color-mimosa: #F6BB21;
    --color-frog: #7BC92E;
    --color-snowy: #FFFFFF;
    --color-darknight: #000000;
    --color-concret: #6B6B6B;
    --font-family:'Roboto', sans-serif;
}

.bouton {
    display:flex;
    justify-content: center;
    align-items: center;
}
.startachat {
    background-color: var(--color-snowy);
    color: var(--color-sunny);
    width: 217px;
    height: 49px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24.5px;
    text-align: center;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 49px;
    margin-bottom: 30px;
}

.next {
    background-color: var(--color-frog);
    color: var(--color-snowy);
    width: 59px;
    height: 30px;  
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 30px;    
    margin-bottom: 30px; 
}

.done {
    background-color: var(--color-frog);
    color: var(--color-snowy);
    width: 59px;
    height: 30px;  
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 30px;    
    margin-bottom: 30px;  
}

.signup {
    background-color: var(--color-sunny);
    color: var(--color-snowy);
    width: 117px;
    height: 28px;
    text-align: center;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;  
    margin-bottom: 30px;
}

.objetperdu {
    background-color: var(--color-sunny);
    color: var(--color-snowy);
    width: 217px;
    height: 53px;
    text-align: center;
    font-family: var(--font-family);
    font-size: 24px;
    line-height: 53px;
    border-radius: 43px 43px 0px 0px;
    margin-bottom: 30px;
}

.objettrouve {
    background-color: var(--color-frog);
    color: var(--color-snowy);
    width: 217px;
    height: 53px;
    text-align: center;
    font-family: var(--font-family);
    font-size: 24px;
    line-height: 53px;
    border-radius: 43px 43px 0px 0px;
    margin-bottom: 30px;
}

.facebook {   
    background-color: var(--color-snowy)
    width: 195px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    font-size: 14px;
    line-height: 16px;
}

#logofb {
    width: 45px;
    height: 45px;
}