:root {
    --space-m: 50px;
    --color-sunny: #F67B21;
    --color-mimosa: #F6BB21;
    --color-frog: #7BC92E;
    --color-snowy: #FFFFFF;
    --color-darknight: #000000;
    --color-concret: #6B6B6B;
    --width-color: 40px;
    --height-color: 40px;
    --radius-color: 20px;
    --marginright-color: 15px;
    --font-family:'Roboto', sans-serif;
    --shadow-primary: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --radius-primary: 24.5px;
    --width-primary: 217px;
    --height-primary: 49px;
    --fontsize-primary: 24px;
    --fontweight-primary: 500;
}


body {
    background-color: bisque;
}

h1 {
    text-align: center;
    color: rgb(5, 107, 107);
}

h2 {
    color: var(--color-concret);
}
/*-----------------------------COLOR-------------------------*/
.colorgroup {
    display: flex;
    justify-content: flex-start;
    margin-bottom: var(--space-m);
}

#sunny{
    width: var(--width-color);
    height: var(--height-color);
    border-radius: var(--radius-color);
    background-color: var(--color-sunny);
    margin-right: var(--marginright-color);
}

#mimosa{
    width: var(--width-color);
    height: var(--height-color);
    border-radius: var(--radius-color);
    background-color: var(--color-mimosa);
    margin-right: var(--marginright-color);
}

#frog{
    width: var(--width-color);
    height: var(--height-color);
    border-radius: var(--radius-color);
    background-color: var(--color-frog);
    margin-right: var(--marginright-color);
}

#snowy{
    width: var(--width-color);
    height: var(--height-color);
    border-radius: var(--radius-color);
    background-color: var(--color-snowy);
    margin-right: var(--marginright-color);
}

#darknight{
    width: var(--width-color);
    height: var(--height-color);
    border-radius: var(--radius-color);
    background-color: var(--color-darknight);
    margin-right: var(--marginright-color);
}

#concret{
    width: var(--width-color);
    height: var(--height-color);
    border-radius: var(--radius-color);
    background-color: var(--color-concret);
    margin-right: var(--marginright-color);
}

/*-----------------------------typography-------------------------*/



/*-----------------------------bouton primary-------------------------*/

.primary {
    background-color: var(--color-snowy);
    box-shadow: var(--shadow-primary);
    color: var(--color-sunny);
    border-radius: var(--radius-primary);
    width: var(--width-primary);
    height: var(--height-primary);
    font-family: var(--font-family);
    font-size: var(--textsize-primary);
    font-weight: var(--fontweight-primary);
}

.primary:hover {
    background-color: var(--color-mimosa);
}
